Data/Actors.rxdata
Data/Animations.rxdata
Data/Armors.rxdata
Data/CommonEvents.rxdata
Data/Enemies.rxdata
Data/Items.rxdata
Data/MapInfos.rxdata
Data/Skills.rxdata
Data/States.rxdata
Data/System.rxdata
Data/Tilesets.rxdata
Data/Weapons.rxdata
