Pokemon Essentials v21.1 2023-07-30/Data/Actors.rxdata
Pokemon Essentials v21.1 2023-07-30/Data/Animations.rxdata
Pokemon Essentials v21.1 2023-07-30/Data/Armors.rxdata
Pokemon Essentials v21.1 2023-07-30/Data/CommonEvents.rxdata
Pokemon Essentials v21.1 2023-07-30/Data/Enemies.rxdata
Pokemon Essentials v21.1 2023-07-30/Data/Items.rxdata
Pokemon Essentials v21.1 2023-07-30/Data/MapInfos.rxdata
Pokemon Essentials v21.1 2023-07-30/Data/Skills.rxdata
Pokemon Essentials v21.1 2023-07-30/Data/States.rxdata
Pokemon Essentials v21.1 2023-07-30/Data/System.rxdata
Pokemon Essentials v21.1 2023-07-30/Data/Tilesets.rxdata
Pokemon Essentials v21.1 2023-07-30/Data/Weapons.rxdata
